

/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {

    border-width: 5px;
    border-style: solid;
    border-color: blue;

    width: 25%;
    margin: 5px;
    padding: 5px;
    position: fixed;
    right: 0px;
    bottom: 0px;

}


#two {

    border-width: 5px;
    border-style: solid;
    border-color: green;

    width: 25%;
    margin: 5px;
    padding: 5px;
    position: fixed;
    right: 0px;
    top: 0px;

}


#three {

    border-width: 5px;
    border-style: solid;
    border-color: orange;

    width: 25%;
    margin: 5px;
    padding: 5px;
    position: fixed;
    left: 0px;
    top: 0px;

}


#four {

    border-width: 5px;
    border-style: solid;
    border-color: yellow;

    width: 25%;
    margin: 5px;
    padding: 5px;
    position: fixed;
    left: 0px;
    bottom: 0px;

}


#link {

    text-align: center;
    margin: 5px;

}

#link a {

    color: #fefefe;
    text-decoration: none;
    background-color: #2f418e;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;

}



