<html>
    <head>
        <title>Polls App - 7c0d2914 </title>
        <style>
            .footer {
                width: 100%;
                position: fixed;
                left: 0em;
                bottom: 0em;
                text-align: center;
                background-color: #D3D3D3;
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    <div class="footer">
        <p>DJ4E - Antonio Guglielmi - f011764a </p>
    </div>
    </body>
</html>